img{
    width: 80%;
}
#header{
    color: #FFFFFF;
    font-size: 10rem;
    z-index: 1000;
}
#main{
    width: 100%;
}
#background{
    text-align: center;
    width: 100%;
    height: 70rem;
    background-image:url("../assets/71r9aPTrZYL._AC_SL1000_.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
    "header header header header"
    ". menu menu menu" ;    
}
#header{
    grid-area: header;
}
#menu{
    grid-area: menu;
}

.dish{
    background-color: white;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-top: 3rem;   
}
.dish, ul{
    display: inline-block;
}